.vsconfig
*.sln
.vs/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Library/
Logs/
obj/
Temp/
UserSettings/
*.csproj
ViRSE-Core-Platform_clone_0/
ViRSE-Core-Platform_clone_1/
ViRSE-Core-Platform_clone_2/
ViRSE-Core-Platform_clone_3/

ViRSE-Core-Platform/Library/
ViRSE-Core-Platform/Logs/
ViRSE-Core-Platform/obj/
ViRSE-Core-Platform/UserSettings/


ViRSE-Core-Platform/Assets/Temp.meta
ViRSE-Core-Platform/Assets/FRAMEWORK/PRIVATE/
ViRSE-Core-Platform/Assets/FRAMEWORK/Resources/Private/
ViRSE-Core-Platform/Assets/YOUR_PLUGIN_HERE/ExtraAssets/NatureManufacture Assets/
Virtual-Experience-Engine_clone_0/
Virtual-Experience-Engine_clone_1/
Virtual-Experience-Engine/.utmp/
Virtual-Experience-Engine/Assets/FRAMEWORK/Non-Core/Instancing/LocalServer/Logs.meta
